
body {
    font-family:sans-serif;
    background:#333333;
    color:#777777;
    width: 2200px;
    margin: 0 auto;
}

header, footer, aside, nav {
    display: block;
}

a:link {color:#777777;}
a:visited {color:#777777;}
a:hover {color:#999999;}
a:active {color:#ffffff;}

#copyright {
    font-size:8pt;
    text-align:center;
    margin-top:10px;
}

.remark {
    color: #ffffff;
}

.unsafe {
    color : #c86464;
}

#simulation {
    display:table;
    margin: 0 auto;
    border:1px solid;
    box-shadow: 10px 10px 7px #222;
}

    #simulation .viewer {
        display:table-cell;
    }
    
    #simulation .panel {
        display:table-cell;
        vertical-align:top;
        width: 200px;
        padding: 0px 5px 0px 5px;
        font-size: 9pt;
        background:#151515;
    }
        #simulation .panel header {
            color: #ffffff;
        }
        
    	#simulation .panel .slider {
    		margin: 7px 10px 10px 10px;
    	}
        #simulation .panel section {
            margin-bottom: 15px;
            border-bottom: 1px dotted;
        }
        #simulation .panel section:last-child {
            margin-bottom: 0px;
            border-bottom: 0px;
        }


#myCanvas {
    display:block;
    vertical-align:bottom;
    background-color:#000000;
    border-right:1px solid;
}
